---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

$serif: "Nanum Gothic", Georgia, Times, serif;
$sans-serif: "Nanum Gothic", -apple-system, BlinkMacSystemFont, "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", Arial, sans-serif;
$monospace: "Nanum Gothic Coding", Monaco, Consolas, "Lucida Console", monospace;

$x-large: 1600px;

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

// 제목에 밑줄 제거
.archive__item a {
    text-decoration-line: none;
}

// 댓글 최대 넓이 확장
.utterances {
    max-width: initial !important;
}